name: CI/CD Workflow

on:
  push:
    branches:
      - master

jobs:
  eslint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 16

      - name: Install dependencies
        run: npm install

      #name: Run ESLint
      #run: npm run lint
      #continue-on-error: true

  build:
    runs-on: ubuntu-latest
    needs: eslint

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Build and Test
        run: |
          npm ci
          npm run build
        continue-on-error: true

      - name: Retry on Failure
        if: ${{ failure() }}
        run: |
          sleep 30s  # Wait for a moment before retrying
          echo "Retrying..."
        continue-on-error: true

      - name: Build Docker image
        run: |
          docker build -t test_next_app:latest .
        env:
          DOCKER_BUILDKIT: 1
      - name: Push Docker image to Docker Hub
        run: |
          docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
          docker push test_next_app:latest
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Deploy to Vercel
        run: |
          docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
          docker pull test_next_app:latest

          npx vercel --prod --token ${{ secrets.VERCEL_TOKEN }} --docker test_next_app:latest
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
          VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
